{% extends 'base.html' %}
{% load dict_filters %}

{% block content %}
{% if user.role == 'BRYGADZISTA' and user.brigade %}
  <h1>Panel Zarządzania Brygadzisty</h1>
  <p>Zarządzasz brygadą: <strong>{{ user.brigade.name }}</strong></p>

  <div id="timesheet-wrapper" class="mt-4">
    {% include "partials/timesheet_wrapper.html" %}
  </div>
  <hr class="my-5">
  {% include "partials/foreman_finance_panel.html" %}
{% elif user.role == 'SZEF'%}
  {% include 'szef/szef_dashboard.html' %}
{% else %}
  <p>Witaj w systemie, {{ user.username }}!</p>
{% endif %}

{% endblock content %}